<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" href="/static/css/public.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
</head>
<body>

<div class="public-top">
    <div class="public-topnav">
        <img class="public-top-img" src="http://static.qiushibaike.com/images/logo2016.png?v=2016-08-11-1718">
        <a class="public-top-middle" href="/">热门</a>
        <a class="public-top-middle">24小时</a>
        <a class="public-top-middle">热图</a>
        <a class="public-top-middle">文字</a>
        <a class="public-top-middle">穿越</a>
        <a class="public-top-middle">糗图</a>
        <a class="public-top-middle">新鲜</a>
        <a class="public-top-middle" href="/submission">投稿</a>
        <a class="public-top-right" id="login" href="/login">登录</a>
        <a class="public-top-right" href="/register">注册</a>
    </div>
</div>
<div id="articles">


</div>

<script type="text/html" id="from-article">
 <% for(var i=0;i< articles.length; i++){ %>
 <div id="article-content">
     <div id="main">
         <div id="main-articles">
             <h2><a href="/comment/<%= articles[i].id %>" style="text-decoration: none;font-size:14px;color: #666;">发表人:<%= articles[i].created_by %></a></h2>
             <div>标题：<%= articles[i].title %></div>
             <div>发表于：<%= articles[i].created_at %></div>
             <p style="line-height: 200%;cursor:pointer">内容:<%= articles[i].content%></p>
             <p style="font-size: 14px;"><%= articles[i].count %>条评论</p>
             <div class="comment-from">
                 <input type="hidden" class="article_id" name="article_id" value= <%=articles[i].id %> />
                 <input class="content" name="content">
                 <button class="btn-comment">提交评论</button>
             </div>
         </div>

     </div>

 </div>

<% } %>
</script>

<script src="../static/js/lib/jquery-3.2.1.min.js"></script>
<script src="../static/js/lib/template-web.js"></script>
<script src="../static/js/index.js"></script>

</body>
</html>